#style.css

.diplomata-sc-regular {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
}


.topo {
  position: sticky;
  top:0;
  z-index: 10;
  background-color: rgb(0, 0, 0);
  border-bottom: 8px solid #42050f;
    
}

body {
  color: rgb(139, 0, 0);
  background-color: #000000;
}

html{
  scroll-behavior:smooth ;
}

.ligação {
  background-color: #161616;
  color: #b30000;
}

.links {
  font-weight: 800;
  text-decoration: none;
  color: #ffd000;
  font-size: 1.5rem;
  padding: 0.8rem 0;
}

nav a {
  text-decoration: none;
  color: rgba(223, 26, 0, 0.87);
  padding: 0.6rem 0.8rem;
  border-color: #e00000;
  font-weight: bolder;
}

nav a:hover {
  background-color: #3f0505;
}

.inicio {
  max-width: 45%;
}

.imagem {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-x: hidden;
}

.imagem img{
  width: 100%;
  display: block;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

.imagem img:hover {
    transform: scale(1.02) rotate(-1deg);
}

.imagens img{
  width: 90%;
  display: block;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

.imagens img:hover {
    transform: scale(1.02) rotate(-1deg);
}

.inicio {
  text-align: center;
}
.imagens {
  text-align: center;
}

.inicio {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.imagem {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.imagens {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.missao {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.sus {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}